@font-face {
    font-family: 'smythe';
    src: url(assets/fonts/Smythe-Regular.ttf);
}

/* Layout */

body {
    margin: 0;
    font-family: 'smythe';
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 600px;
    position: relative;
    flex-direction: column;
}

.product {
    display: flex;
    gap: 29px;
    border-bottom: 1px solid #dedede;
    margin: 30px 33px;
    width: 90%;
    height: 140px;
    box-sizing: border-box;
}


.order {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 33px;
}

.order-resume {
    display: flex;
    padding-top: 10px;
    margin: 15px 33px 33px 33px;
    border-top: 2px solid #393333;
    align-items: center;
}

.title{
    position: absolute;
    color: white;
    top: 31px;
    left: 49px;
}

.modal-payout {
    border-radius: 4px;
    width: 524px;
    height: 542px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 200px 0px #888888;
}

.hidden {
    display: none;
}

.form-payout {
    display: flex;
    flex-direction: column;
}

.title-payout {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 50px;
}

.input-f {
    margin: 10px 33px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #757575;
    color: #757575;
}

.success-box {
    font-size: 32px;
    color: #065f46;
    background-color: #ecfdf5;
    text-align: center;
    padding: 50px;
    margin: 10px 33px;
}

/* Typography */

h1,h2,h3,h4,p {
    margin: 0;
}

.emoji {
    font-size: 70px;
    width: 100px;
    text-align: center;
}

.name {
    font-size: 28px;
}

.ingredients {
    font-size: 16px;
    color: #8b8b8b;
    margin-bottom: 7px;
}

.price {
    font-size: 20px;
    margin: 0 0 0 auto;
}

.btn-add{
    font-size: 52px;
    color: #8b8b8b;
    padding: 0 15px;
    border: 1px solid #dedede;
    border-radius: 50%;
    margin: 10px 0 auto auto;
    background-color: white;
}

.btn-add:active {
    background-color: #dedede;
}

.btn-remove {
    background-color: transparent;
    border: none;
    color: #bbbbbb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-remove:active {
    color: #393333;
}

.btn-order {
    margin: 0 33px 50px 33px;
    background-color: #16db99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 23px;
    border: none;
    border-radius: 3px;
}

.btn-order:active {
    background-color: #10b981;
}


.btn-add,
.btn-remove,
.btn-order {
    cursor: pointer;
}

.p28 {
    font-size: 28px;
}

.p39 {
    font-size: 39px;
}

.mt40 {
    margin-top: 40px;
}

.mb7 {
    margin-bottom: 7px;
}

.mb33 {
    margin-bottom: 33px;
}

.center {
    text-align: center;
}

/* IMG */

header img {
    width: 100%;;
}



